{% load static %}
<html>
<head>
<title>Water Quality Monitoring & Forecasting System</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script language="javascript">
	function validate(formObj)
	{
		if(formObj.t1.value.length==0){
			alert("Please Enter Username");
			formObj.t1.focus();
			return false;
		}
		if(formObj.t2.value.length==0)
		{
			alert("Please Enter Password");
			formObj.t2.focus();
			return false;
		}
		formObj.actionUpdateData.value="update";
		return true;
	}
	</script>
	<!--<script language="javascript" type="text/javascript" src="datetimepicker.js"></script>-->
</head>
<body>
	<div class="main">
	<div class="main_resize">
		<div class="header">
		<div class="logo">
			<h1><span>Water Quality Monitoring & Forecasting System</span><small></small></h1>
		</div>
		</div>
		<div class="content">
		<div class="content_bg">
			<div class="menu_nav">
			<ul>
				<li><a href="{% url 'index' %}">Home</a></li>
				<li><a href="{% url 'UserLogin' %}">User Login</a></li>
				<li><a href="{% url 'Signup' %}">New User Signup Here</a></li>
			</ul>
		</div>
		<center><div class="hbg"><img src="{% static 'images/header_images.jpg' %}" width="915" height="286" alt="" /></div></center>
		<center>
			<form name="f1" method="post" action={% url 'UserLoginAction' %} onsubmit="return validate(this);">
			{% csrf_token %}
			<h2><b>User Login Screen</b></h2>
			<font size="" color="red"><center>{{ data }}</center></font>
			<table align="center" width="30%" >
				<tr>
					<form>
						<td><label for="username" class="control-label"><b>Username&nbsp;</b></label></td>
						<td><input type="text" name="t1" style="font-family: Comic Sans MS" size="30" class="form-control">&nbsp;</td>
				</tr>		
				<tr>
					<td><label for="password" class="control-label"><b>Password</b></label></td><td><input name="t2" type="password" size="30" class="form-control"></td>&nbsp;</form></tr>
				<tr><td></td><td><button class="btn btn-primary" type="submit" value="Login">&nbsp;Login&nbsp;</button></td></tr>
			</table>
		</div>	
			
		</div>					
	</body>
</html>